# Include this file into your ~/.bashrc
# -------------------------------------
export PYENV_ROOT="{{ pyenv_path }}"
export PATH="$PYENV_ROOT/bin:$PATH"
{% if pyenv_env == "system" %}
{% else %}
eval "$(pyenv init - --no-rehash)"
{% endif %}
